:root {
  --black-2: rgba(0, 0, 0, 0.298);
  --black: rgba(0, 0, 0, 1);
  --lochmara: rgba(0, 117, 190, 1);
  --alto: rgba(217, 217, 217, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxs: 12px;
  --font-size-xs: 16px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 90px;

  --font-family-inter: "Inter";
  --font-family-roboto: "Roboto";
}

.inter-medium-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.inter-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}

.inter-semi-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 600;
  font-style: normal;
}

.inter-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}

.inter-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  font-style: normal;
}

.inter-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}

.inter-semi-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-style: normal;
}

.inter-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
