.header {
  align-items: center;
  align-self: stretch;
  background-color: var(--lochmara);
  border: 1px none;
  display: flex;
  gap: 10px;
  height: 52px;
  padding: 14px 37px;
}

.header-title {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  width: fit-content;
}
